* {
    font-family:'Courier New', Courier, monospace;
}

button {
    all: unset;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 40px;
}

p {
    all: unset;
    font-weight: bold;
}

body {
    margin: 0px;
    border: 0px;
    min-height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 150px;
    height: 150px;
}

.flexCards {
    margin-top: auto;
    margin-bottom: 50px;
    padding: 20px;
    background-color: white;
    display: flex;
    gap: 150px;
}

.card {
    border: solid pink;
    color: black;
}
